package layout

templ Header() {
	<header class="bg-slate-900">
		<div class="container mx-auto flex content-center justify-between">
			<nav class="flex content-center p-4">
				<span class="pt-1 text-2xl font-bold">Speedia Control</span>
			</nav>
		</div>
	</header>
}
