package layout

import (
	voHelper "github.com/goinfinite/ez/src/domain/valueObject/helper"
	componentUtil "github.com/goinfinite/ez/src/presentation/ui/component/util"
	"os"
)

script MainLayoutState() {
	document.addEventListener('alpine:initializing', () => {
		Alpine.store('main', {
			textualViewSelector: Alpine.$persist(false).as('dash.textualViewSelector'),
			displayScheduledTasksPopover: Alpine.$persist(false).as('dash.displayScheduledTasksPopover'),

			toggleScheduledTasksPopover() {
				this.displayScheduledTasksPopover = !this.displayScheduledTasksPopover;
			},
			refreshScheduledTasksPopover() {
				window.dispatchEvent(new CustomEvent('refresh:footer'));
				setTimeout(() => {this.displayScheduledTasksPopover = true}, 1000);
			},

			init() {
				Alpine.watch(() => this.textualViewSelector, () => {
					htmx.process(document.body);
				});
			}
		});
	});
}

script DevWsHotReload() {
	hotReloadWs = new WebSocket("wss://" + document.location.host + "/dev/hot-reload");
	hotReloadWs.onclose = (() => {
		setTimeout(() => {location.reload()}, 2000);
	});
}

templ MainLayout(pageContent templ.Component, currentUrl string) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>Infinite Ez</title>
			<link rel="icon" type="image/ico" href="/assets/favicon.ico"/>
			<link
				rel="stylesheet"
				href="https://cdn.jsdelivr.net/npm/@unocss/reset/tailwind-compat.min.css"
				integrity="sha256-mxqxWWi4Pd5N5gE0NNzpch+R/fgUinsMhMZx9eOOOeE="
				crossorigin="anonymous"
			/>
			<link
				rel="stylesheet"
				href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/bold/style.css"
				integrity="sha256-yKMt9n+L1X9wxjceFewjLfJd3ro+uQYNeqpoEBps4kA="
				crossorigin="anonymous"
			/>
			<link
				rel="stylesheet"
				href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/duotone/style.css"
				integrity="sha256-/G039/D3/9zfcUxUGB/dJ5EZaeRzfTFRuXLUuAblrl0="
				crossorigin="anonymous"
			/>
			<link
				rel="stylesheet"
				href="https://fonts.googleapis.com/css?family=Lato:700,regular,italic,700italic,|Space+Grotesk:700,regular,italic,700italic,&display=swap"
			/>
			<link
				rel="stylesheet"
				href="/assets/additional.css"
			/>
			<script src="/assets/additional.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/@unocss/runtime@0.61.5/uno.global.min.js" integrity="sha256-miwoG1k3DDK5ai24d7edKuvz3xRNHkUNcX8zl6qru5U=" crossorigin="anonymous"></script>
			<script defer src="https://cdn.jsdelivr.net/npm/chart.js@4.4.6/dist/chart.umd.min.js" integrity="sha256-llOggT23Q7vngzKjiW4ox7x1RuT/9R5+l56QjR8EcdE=" crossorigin="anonymous"></script>
			<script defer src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.1/dist/htmx.min.js" integrity="sha256-bUqqSw0+i0yR+Nl7kqNhoZsb1FRN6j9mj9w+YqY5ld8=" crossorigin="anonymous"></script>
			<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.14.1/dist/cdn.min.js" integrity="sha256-jFBwr6faTqqhp3sVi4/VTxJ0FpaF9YGZN1ZGLl/5QYM=" crossorigin="anonymous"></script>
			<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js" integrity="sha256-NY2a+7GrW++i9IBhowd25bzXcH9BCmBrqYX5i8OxwDQ=" crossorigin="anonymous"></script>
			if isDevMode, _ := voHelper.InterfaceToBool(os.Getenv("DEV_MODE")); isDevMode {
				@DevWsHotReload()
			}
		</head>
		<body class="bg-ez-500 flex text-white">
			@MainLayoutState()
			@componentUtil.LoadingOverlay()
			@Sidebar(currentUrl)
			<!-- Page Content -->
			<div class="mb-6 w-full overflow-x-hidden p-6">
				@pageContent
			</div>
			@FooterSkeleton()
			@componentUtil.Toast()
		</body>
	</html>
}
