package componentForm

templ InputField(
	inputType string,
	id string,
	name string,
	addAttributes templ.Attributes,
) {
	<label for={ id } class="mb-2 block text-sm font-medium text-white">{ name }</label>
	<input
		type={ inputType }
		id={ id }
		name={ id }
		{ addAttributes... }
		autocomplete="off"
		class="mb-4 block w-full rounded-md border border-neutral-50 border-opacity-5 bg-neutral-50 bg-opacity-5 p-2.5 text-sm text-white placeholder-neutral-400"
	/>
}
