package page

type BackupIndexInputDto struct {
}

templ BackupIndex(inputDto BackupIndexInputDto) {
	<!-- BackupIndex JavaScript -->
	<script src="/assets/local-states/backup.js"></script>
	<!-- BackupIndex HTML -->
}
